.blog-content figure {
  position:relative;
  left:1em;
}

figure {
  font-family: Times;
  font-size: 1.3em;
}

figcaption {
    font-style:italic;
    font-size: 0.8em;
    padding:0.25em;
    width:50em;
}

figure img {
  border:1px solid gray;
  max-width: 75%;
}

.blog-content {
  margin:1em;
  min-height:35em;
  }

.blog-content p {
  font-size:1.1em;
  position:relative;
}

.blog-content h2 {
  font-weight:normal;
}

.question{
  font-weight:bold;
}

.date {
  margin-top: -1em;
  font-style:italic;
  text-decoration:underline;
  position:relative;
}

.code {
  padding: 0.3em 1em;
  font-family: monospace;
  font-size: 1.25em;
  display: block;
  color: white;
  background-color: grey;
  white-space:pre;
}

.equation {
  padding: 0.3em 1em;
  font-family: XITS, serif;
  font-size: 1.3em;
  display: block;
  white-space:pre;
}